django
redis
celery
django_celery_beat
telebot
psycopg
python-dotenv
eventlet

requests
djangorestframework
python-dotenv
django-cors-headers
drf_yasg
flake8
coverage
django-filter
djangorestframework-simplejwt
